* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}
.container1 {
    border: 2px solid rgb(241, 241, 241);
    width: 700px;
    margin:auto;
    background-color: rgb(241, 241, 241);
}
.container2 {
    width: 600px;
    margin: 40px auto;
    background-color: white;
    border-radius: 4px;
}
section {
    padding: 20px;
}
.line {
    width: 150px;
    border-top: 10px solid black;
}
h1 {
    font-weight: 1000;
    font-size: 1.8rem;
}
h2 {
    font-size: 0.9rem;
}
h3 {
    border-top: 2px solid black;
}
label {
    display: inline-block;
    width: 210px;
}
input:not(.radio):not(.together):not(.submit) {
    display: inline-block;
    width: 340px;
    border: none;
    border-bottom: 2px solid  rgb(223, 223, 223);
}
.submit {
    position: relative;
    width: 150px;
    height: 50px;
    left: 430px;
    bottom: 40px;
    background-color: rgb(197, 4, 4);
    color: white;
    border-radius: 5px;
    font-size: 1.4rem;
    border: none;
}
.together {
    display: inline-block;
    width: 170px;
    border: none;
    border-bottom: 2px solid rgb(223, 223, 223);
}
::placeholder {
    font-style: italic;
}
.submit:hover {
    background-color: red;
}
